name: LateX CV to PDF

on:
  push:
    branches: 
      - main
      - develop
    tags:
       - '*'
  pull_request:
    branches: [ main ]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      
      - name: Compile LaTeX document 001
        id: compile-latex-document-001
        uses: thomas-chauvet/latex2pdf-action@1.1.0
        with:
          output_dir: output
          main_latex_file: source/001/Section_001_Summer_2023.tex
          ctan_packages: preprint moderncv colortbl fontawesome lua-uni-algos
      - name: Upload PDF to the workflow tab
        id: upload-workflow-001
        uses: actions/upload-artifact@v2
        with:
          name: output-fontawesome
          path: "output/Section_001_Summer_2023.pdf"
